body {
    font-family: "Source Sans Pro", sans-serif;
}

.menu {
    height: 4em;
    border-bottom: 1em solid #2c4770;
    padding: 2em 3em;
    font-size: 1.2em;
}

.menu .left {
    float: left;
    font-size: 1.6em;
    font-family: 'Pacifico', cursive;
}

.menu .left ol {
    margin: .2em 0 0 0;
}

.menu .right {
    float: right;
}

.menu .inline-menu {
    display: none;
    position: absolute;
    font-size: 1.6em;
    top: 1em;
    right: 1em;

}

.inline-menu.menu-content.expanded {
    height: 14em;
    border-bottom: 1.2em solid #346179;
}

.inline-menu.menu-content {
    position: absolute;
    top: 7.2em;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #aa6639;
    border-bottom: 0;
    height: 0;
    transition: all ease .5s;
    overflow: hidden;
}

.inline-menu.menu-content ol {
    list-style: none;
    text-align: center;
    padding:0;
}

.inline-menu.menu-content a,
.inline-menu.menu-content a:link,
.inline-menu.menu-content a:visited,
.inline-menu.menu-content a:active {
    font-size: 2.4em;
    color: white; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
    outline: 0;
    border: 0;
}

.menu ol {
    list-style: none;
}

.menu ol li {
    display: inline-block;
    padding: 0 1em;
    /*background-color: lime;*/
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:active {
    color: #000000; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
    outline: 0;
    border: 0;
}

.menu a:hover {
    color: #bbb; /*color of your choosing*/
}

.content {
    position: absolute;
    top: 10.8em;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.content h1 {
    color: #142e54;
}

.content h2 {
    color: #803f15;
}

.content .home .banner {
    text-align: center;
    box-sizing: border-box;
    padding: 1em 6em 2em 6em;
    background-color: #346179;
}

.content .home .banner h1 {
    color: #ffffff;
}

.content .home .banner p {
    text-align: center;
    font-weight: 400;
}

.content .home .banner .avatar {
    border: .5em solid #4c668c;
    border-radius: 100px;
}

.content .section {
    padding: 2em 4em;
}

.content p {
    font-size: 1.1em;
    text-align: justify;
}

@media only screen and (max-device-width: 768px) {
    body {
        font-size: 12px;
    }

    .menu .inline-menu {
        display: block;
    }

    .content .home .banner h1 {
        font-size: 18px;
    }

    .menu {
        height: 3em;
        border-bottom: 1em solid #346179;
        padding: 1em 0;
    }

    .menu .left {
        float: none;
        text-align: center;
        font-size: 2em;
    }

    .menu .left ol {
        margin: 0;
        padding: 0;
    }

    .content {
        top: 7.2em;
    }

    .menu .right {
        display: none;
    }

    .content .section {
        padding: 2em 2em;
    }

    .content .home .banner {
        padding: .5em .5em 2em .5em;
    }

    .content p {
        font-size: 1.2em;
    }
}
